<div class="container mt-5 text-center">
  <h1 class="mb-4">ようこそ！</h1>
  <p class="lead">つぶやきアプリです</p>

  <p class="mt-4">
    <%= link_to "こちら", login_path %> からはじめよう
  </p>
  <p class="mt-2">
    もしくは <%= link_to "こちら", signup_path %> から会員登録
  </p>

  <p class="mt-4">
    <%= link_to ">>つぶやき一覧<<", posts_path %>
  </p>
</div>
